body
{
  font-family: "Arial";
  margin: 0px;
  padding: 0px;
  background-color: #fff5ed;
}

div .aff_prod
{
	margin: 20px 20px 0px 20px;
	font-size: 22px;
	color: #5b5b5c;
	text-align: center;
	border: 2px solid #777;
	box-shadow: 3px 3px 3px #777;
	border-radius: 10px;
	background-color: #fff3eb;
	padding: 0px 10px;
}
.products
{
	box-shadow: 3px 3px 3px #777;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.recap_panier
{
	box-shadow: 3px 3px 3px #777;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.voir_articles:hover {
    border: 2px solid #000;
	background-color: #ff3a3c;
}
.aff_prod img{
    width: 100%;
}
.voir_articles
{
	font-size: 20px;
	text-decoration: none;
	display: block;
    margin: 10px;
    background-color: orange;
	box-shadow: 5px 5px 5px #777;
    color: white;
    padding: 14px 20px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
	text-shadow: 2px 2px 10px #000;
}
.admin-users
{
	font-size: 20px;
	text-decoration: none;
    margin: 10px;
    background-color: lightblue;
	box-shadow: 5px 5px 5px #777;
    color: white;
    padding: 8px 10px;
    border-radius: 9px;
    cursor: pointer;
	text-shadow: 2px 2px 10px #000;
}
.admin-users:hover {
    border: 2px solid #777;
	background-color: orange;
}
#produit
{
	border: 2px solid black;
}
.connection
{
  color: white;
  margin: auto;
  background-color: grey;
  text-align: center;
  padding: 14px 20px;
  border-radius: 7px;
  font-size: 18px;
  padding: 10px;
  width: 25%;

}

h1
{
	text-align: center;
	color: #777;
}
h2
{
	font-size: 30px;
  	color: grey;
	text-decoration: underline;
}
input[type="text"]
{
  display: block;
  margin: auto;
  background-color: #e0fffd;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 70%;
}

input[type="password"]
{
	display: block;
	margin: auto;
	background-color: #e0fffd;
	padding: 14px 20px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-size: 15px;
	width: 70%;
}

input[type="submit"]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

img
{
  border-radius: 9px;
}
*
{
    box-sizing: border-box;
}
.responsive
{

    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 870px)
{
    .responsive
	{
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 400px)
{
    .responsive
	{
        width: 100%;
    }
}

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

nav
{
  width: 100%;
  background-color: #424558;
}

nav > ul /* Le ">" veut dire que l'on s'adresse a tout les enfant 'ul' du parent 'nav' */
{
  margin: 0px;
  padding: 0px;
}

nav > ul::after /* pour compenser le float qu'il y a sur le "li" sinon ca fait de la merde*/
{
  content: "";
  display: table;
  clear: both;
}

nav > ul > li
{
  float: left;
  position: relative;
}

nav > ul > li > a
{
  font-size: 20px;
  padding: 20px 50px;
  color: #ffffff;
}

nav > ul > li:hover a
{
    padding: 15px 50px 20px 50px;
}

nav li
{
  list-style-type: none;
}

.sous-menu
{
  display: none;
}

nav a
{
  display: inline-block;
  text-decoration: none;
}
nav li:hover .sous-menu
{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

.sous-menu li
{
  border-bottom: 1px solid #CCC;
}

.sous-menu li a
{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}

.panier:hover
{
  border-top: 5px solid #CCC;
  background-color: RGBa(050, 070, 070, 0.15);
}

.compte:hover
{
  border-top: 5px solid #CCC;
  background-color: RGBa(050, 050, 050, 0.15);
}

.menu-legume:hover
{
  border-top: 5px solid #1FA055;
  background-color: RGBa(000, 192, 38, 0.15);
}

.menu-fruit:hover
{
  border-top: 5px solid #ffc04c;
  background-color: RGBa(255, 165, 000, 0.15);
}

.menu-viande:hover
{
  border-top: 5px solid #e44d26;
  background-color: RGBa(241, 77, 79, 0.15);
}

.menu-lait:hover
{
  border-top: 5px solid #FFFCCC;
  background-color: RGBa(255, 252, 204, 0.15);
}

.panier .sous-menu
{
  background-color: RGBa(230, 160, 10, 0.95);
}

.compte .sous-menu
{
  background-color: RGBa(150, 150, 150, 0.95);
}

.menu-legume .sous-menu
{
  background-color: RGBa(62, 204, 124, 0.95);
}

.menu-fruit .sous-menu
{
  background-color: RGBa(255, 165, 000, 0.95);
}

.menu-viande .sous-menu
{
  background-color: RGBa(241, 77, 79, 0.95);
}

.menu-lait .sous-menu
{
  background-color: RGBa(255, 252, 204, 0.95);
}
.sous-menu li:hover a
{
  font-weight: bold;
}

.menu-legume .sous-menu li:hover
{
  background-color: RGB(100, 160, 112);
}

.menu-fruit .sous-menu li:hover
{
  background-color: RGB(220, 165, 100);
}

.menu-viande .sous-menu li:hover
{
  background-color: RGB(200, 100, 100);
}

.menu-lait .sous-menu li:hover
{
  background-color: RGB(255, 252, 204);
}

.home a
{
  font-size: 20px;
  color: lightgrey;
}

nav input[type="checkbox"]
{
  display: none;
}

nav label
{
  display: none;
}

nav input[type=checkbox]:checked ~ ul /* pour afficher le menu quand on clique sur "menu"*/
{
  display: block;
}

@media screen and (max-width: 870px)
{
  .menu-deroulant
  {
    display: block;
    color: #FFF;
    background-color: purple;
    text-align: center;
    padding: 12px 0px;
  }
  nav ul
  {
    display: none;
  }
  nav ul li, nav ul li a
  {
    width: 100%;
    text-align: center;
  }
  nav ul li a, nav ul li:hover a
  {
    color: #FFF;
    padding: 10px 0px;
  }
  nav li:hover .sous-menu
  {
    display: block;
    position: static;
  }
}
